.git/
.svn/
.hg/
.cvs/
_*

debug
DEBUG
.debug

.htdb*
config.php
data/
error_log
log/
logs/
*.log
*.err

tmp/
temp/
cache/
.cache/
.*_cache/
.twig_cache/
.backups/
*.lock
!composer.lock

bin/
libs/
ext/
target/
vendor/
coverage/
rpmbuild/
out/
build/
Makefile
Makefile.fragments
Makefile.objects
.externalToolBuilders/

composer.phar
auth.json

.classpath
.project
.cproject
.buildpath
.gradle/
.settings/
.autotools

*.class
*.iml
*.idea
*.jar
*.gz
*.tar
*.tgz
*.zip
*.rar
*.rpm
*.o
*.a
*.lo
*.obj
*.dll
*.deb
*.apk
*.war
*.ear
*.exe
*.hex
*.db
*.out
*.output
*.swp
.*.swp
*~

Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
**/.deps/
**/.dirstamp
.libs/
*.la
