.git/
.svn/
.hg/
.cvs/
_*
*~
run/
*.swp
.*.swp
*.fifo
*.sock
*.socket

debug
DEBUG
.debug

.htdb*
config.php
public/static/bootstrap
public/static/bootstrap-icons
public/static/jquery
public/static/bootswatch
error_log
log/
logs/
*.log
*.err

tmp/
temp/
*.tmp
*.temp
cache/
.cache/
.*_cache/
.twig_cache/
.backups/
*.bak
*.back
*.backup
*.old
*.orig
*.original
*.lock
!Cargo.lock
!composer.lock
Thumbs.db
thumbs/
desktop.ini

bin/
libs/
ext/
target/
vendor/
coverage/
.phpunit.cache/
gradle/
gradlew
gradlew.bat
*.launch
*.test
rpmbuild/
out/
build/
build-phar/
dist/
pkg/
gen/
classes/
tracks/
Makefile
Makefile.fragments
Makefile.objects
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
**/.deps/
**/.dirstamp
.libs/
.externalToolBuilders/
*.DS_Store

composer.phar
auth.json

.classpath
.project
.cproject
.buildpath
.gradle/
.settings/
.autotools
.vscode/
.idea/

*.bin
*.hex
*.so
*.exe
*.iso
*.jar
*.gz
*.tar
*.tgz
*.zip
*.rar
*.rpm
*.deb
*.app
*.class
*.javadoc
*.iml
*.ipr
*.iws
*.jfr
*.hprof
*.idea
*.rs.bk
*.pyo
*.o
*.a
*.ko
*.la
*.lo
*.obj
*.dll
*.lib
*.dylib
*.apk
*.war
*.ear
*.dump
*.db
*.out
*.output
