.git/
.svn/
.hg/
.cvs/
_*

debug
DEBUG
.debug

.htdb*
config.php
public/static/bootstrap
public/static/bootstrap-icons
public/static/jquery
public/static/bootswatch
error_log
log/
logs/
*.log
*.err

tmp/
temp/
cache/
.cache/
.*_cache/
.twig_cache/
.backups/
*.lock
!Cargo.lock
!composer.lock
thumbs/

bin/
libs/
ext/
target/
vendor/
coverage/
.phpunit.cache/
gradle/
gradlew
gradlew.bat
*.launch
rpmbuild/
out/
build/
build-phar/
pkg/
gen/
tracks/
Makefile
Makefile.fragments
Makefile.objects
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
**/.deps/
**/.dirstamp
.libs/
.externalToolBuilders/

composer.phar
auth.json

.classpath
.project
.cproject
.buildpath
.gradle/
.settings/
.autotools

*.bin
*.hex
*.so
*.exe
*.iso
*.jar
*.gz
*.tar
*.tgz
*.zip
*.rar
*.rpm
*.deb
*.app
*.class
*.iml
*.idea
*.o
*.a
*.ko
*.la
*.lo
*.obj
*.dll
*.lib
*.dylib
*.apk
*.war
*.ear
*.dump
*.db
*.out
*.output
*.swp
.*.swp
*~
*.fifo
*.sock
*.socket
